/* custom css */

.site-content {
  padding-top: 75px;
}

.canvas {
  height: 500px;
  width: auto;
}

.map-container {
  position: relative;
  width: 100%;
}

.bathroom-table-body .bathroom-name {
  cursor: pointer;
}

.highlight {
  background-color: #fcf8e3;
}

.bathroom-star-rating {
  font-size: .9em;
}